{% extends 'base.html.twig' %}

{% block body %}
<h2>My Bucket-List</h2>
    <p>Lorem ipsum dolor sit amet. Id aspernatur incidunt et voluptas porro et consequatur amet qui natus delectus id officia maiores. Aut voluptatum magni eum quibusdam natus et voluptatem rerum ut explicabo voluptas ut nisi eius est voluptatem asperiores!</p>

{% endblock %}