{% extends 'base.html.twig' %}

{% block body %}
    <p>Toutes mes souhaits</p>
    <section>
        {% for chaqueWish in wish %}
            <article>
                <a href="{{ path('liste', {'wish': chaqueWish.description}) }}">
                    </a>
                <p>{{ chaqueWish.titre }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}