{% extends 'base.html.twig' %}

{% block body %}
    <h2>About US</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt nobis praesentium quasi. Accusamus autem dolorem dolores ea, eligendi esse et ex exercitationem incidunt, natus neque numquam odit optio, unde?</span><span>Adipisci amet assumenda at delectus dignissimos dolor dolorum error facilis impedit laudantium nemo nostrum ratione, rem repellat repellendus repudiandae sequi sit tempora vel velit veniam vero voluptate voluptates! Quasi, reiciendis!</span><span>Aliquam iusto odit quos rerum! Id provident quo unde voluptate? Distinctio tempora, vel. Hic, maxime, nam. Nam, nisi, quidem. Amet, assumenda at consequuntur deleniti enim eum id provident ratione unde!</span><span>Eum iure minima placeat possimus, quod similique temporibus vel! Ab accusantium aliquid asperiores commodi dolores eos error est expedita, fuga ipsum laudantium nobis odit optio quasi, quidem velit vitae voluptatum?</span></p>
{% endblock %}


